* {
  padding: 0;
  margin: 0;
}

/* Styling the App component */

.App {
  text-align: center;
}

/* ========================================================================= */

/* Styling the Header component. */

.mainHeaderContainer {
  height: 100vh;
  background-color: black;
  color: #fff;
}

.headerComponentMainHeading {
  margin-bottom: 20px;
  text-decoration: underline;
}

.headerComponentOptionHeading {
  text-decoration: underline;
}

.headerComponentInstructions {
  margin-bottom: 100px;
}

.navigationOptionsContainer {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.headerSubContainer {
  margin-top: 20px;
}

.navigationLink {
  text-decoration: none;
  color: #fff;
  border: solid #fff;
  padding: 5px;
  border-radius: 5px;
}

.navigationLink:hover {
  background-color: #fff;
  color: black;
  transition: ease-in .5s;
}

.headerImageContainer {
  margin-top: 50px;
  width: 100%;
}

.headerComponentImage {
  height: 550px;
  width: 100%;
  object-fit: cover;
}

/* ========================================================================= */

/* Styling the AddCar coponent */

.addCarComponentContainer {
  position: relative;
}

.addCarComponentHeading {
  text-decoration: underline;
  position: absolute;
  top: 10px;
  left: 300px;
  color: black;
}

.addCarInput, .updateCarInput {
  margin-top: 3px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
  height: 30px;
  border: solid #fff;
  border-radius: 5px;
  outline: none;
}

.linkToHome {
  position: relative;
  right: -180px;
  top: -5px;
  font-size: 25px;
  color: black;
}

.linkToHome:hover {
  color: orangered;
  transition: ease-in .5s;
}

.formContainer {
  position: absolute;
  top: 75px;
  border-radius: 5px;
  left: 1%;
  width: 98%;
  color: black;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.addCarButton, .updateCarButton {
  cursor: pointer;
  height: 40px;
  border-radius: 5px;
  font-size: 22px;
  margin-top: 10px;
  padding: 5px;
}

.addCarButton:hover, .updateCarButton:hover {
  color: #fff;
  background-color: orangered;
  transition: ease-in .5s;
}

.addCarImage, .updateCarImage, .updateMuultipleCarsImage {
  width: 100%;
  height: 1200px;
  object-fit: cover;
}

.addCarMessageAndButtonContainerParagraph{
  text-decoration: underline;
}

/* ========================================================================= */

/* Styling the update component */

.updateCarComponentContainer{
  position: relative;
}

.updateCarComponentHeading{
  text-decoration: underline;
  position: absolute;
  top: 10px;
  left: 300px;
  color: #fff;
}

.updateFormContainer{
  position: absolute;
  top: 75px;
  border-radius: 5px;
  left: 1%;
  width: 98%;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.updateLinkToHome{
  position: relative;
  right: -180px;
  top: -5px;
  font-size: 25px;
  color: #fff;
}

.updateLinkToHome:hover{
  color: orangered;
  transition: ease-in .5s;
}

.updateInstructionParagraph{
  margin-bottom: 20px;
  text-decoration: underline;
}

.updateCarMessageAndButtonContainerParagraph{
  text-decoration: underline;
}

/* ========================================================================= */

/* Styling the update multiple component */

.updateMultipleComponentContainer{
  position: relative;
}

.updateMultipleCarsComponentHeading{
  text-decoration: underline;
  position: absolute;
  top: .1px;
  width: 90%;
  height: 50px;
  color: black;
  padding-left: 70px;
}

.updateMultipleLinkToHome{
  position: relative;
  right: -170px;
  top: -4px;
  font-size: 25px;
  color: black;
}

.updateMultipleLinkToHome:hover{
  color: orangered;
  transition: ease-in .5s;
}

.updateMultipleLabel{
  border-radius: 5px;
  padding: 1px;
}

.updateMultipleParagraph{
  border-radius: 5px;
  width: 22%;
  margin-left: auto;
  margin-right: auto;
  text-decoration: underline;
}

.updateMultipleFormContainer{
  position: absolute;
  top: 50px;
  border-radius: 5px;
  width: 100%;
  color: black;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.updateMultipleInstructionsParagraph{
  margin-bottom: 10px;
  text-decoration: underline;
}

/* ========================================================================= */

/* Styling the Remove car component */

.RemoveCarComponentContainer{
  position: relative;
}

.removeCarComponentHeading{
  text-decoration: underline;
  position: absolute;
  top: .1px;
  width: 90%;
  height: 50px;
  color: black;
  padding-left: 70px;
}

.removeCarLinkToHome{
  position: relative;
  right: -160px;
  top: 2px;
  font-size: 25px;
  color: black;
}

.removeCarLinkToHome:hover{
  color: orangered;
  transition: ease-in .5s;
}

.removeCarFormContainer{
  position: absolute;
  top: 50px;
  border-radius: 5px;
  
  width: 100%;
  color: black;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.removeCarInput{
  margin-top: 3px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
  height: 30px;
  border: solid black;
  border-radius: 5px;
  outline: none;
}

.removeButtonParagraph{
  text-decoration: underline;
}

/* ========================================================================= */

/* Styling the show cars component */

.showCarsComponentContainer{
  background-color: black;
  height: 100vh;
}

.showCarsComponentHeading{
  text-decoration: underline;
  top: .1px;
  width: 90%;
  height: 50px;
  color: #fff;
  padding-left: 120px;
}

.showCarsLinkToHome{
  position: relative;
  right: -240px;
  top: -3px;
  font-size: 25px;
  color: #fff;
}

.showCarsLinkToHome:hover{
  color: orangered;
  transition: ease-in .5s;
}

.showCarsFormContainer{
  position: absolute;
  top: 50px;
  border-radius: 5px;
  
  width: 100%;
  color: black;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.showCarsLabel{
  border-radius: 5px;
  padding: 1px;
  color: #fff;
}

.showCarsParagraph{
  border-radius: 5px;
  width: 29%;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}

.showCarsTableDiv{
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  border: solid yellow;
  width: 60%;
}

table{
  width: 100%;
}

table, thead, tr, th, tbody, td {
  border: solid red;
}

thead, tr, th, tbody, td{
  padding: 5px;
}

/* ========================================================================= */

/* Styling the specific search component */

.specificSearchParagraph{
  border-radius: 5px;
  width: 33%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  color: #fff;
  text-decoration: underline;
}

.olderCarsTableDiv{
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  border: solid yellow;
  width: 60%;
  margin-top: 100px;
}

/* ========================================================================= */
